In [1]:
from deep_learning_funcs import MF_deep_learning

In [2]:
import pandas as pd

stirring = pd.read_csv("C:/Users/licor/Documents/AI internship/stirrings_dataset_v2.csv", index_col=0)

In [3]:
my_func = MF_deep_learning()

In [4]:
stirring [stirring < 0] = 0.5
stacked = pd.DataFrame(stirring.stack())
stacked.reset_index(inplace=True) 
stacked.columns = ["actor_id", "interested", "interact"]
stacked.dropna()
stacked

                         actor_id                interested  interact
0        5b2a71c33f0d6e001350d99c  5b32620373ebfe00137380d7  7.189535
1        5b2a71c33f0d6e001350d99c  5b33bee573ebfe0013738c60  7.163628
2        5b2a71c33f0d6e001350d99c  5b363ee62d84e000133e6b14  6.349840
3        5b2a71c33f0d6e001350d99c  5b4cb7306031690013c1d546  4.357605
4        5b2a71c33f0d6e001350d99c  5b5295b8fb45b000019e259a  0.500000
...                           ...                       ...       ...
2305740  5eded76ac93a49cc75ce2d3d  5ede5f69c93a49cc75ce0819  7.598990
2305741  5eded76ac93a49cc75ce2d3d  5ede6daec93a49cc75ce1346  6.051700
2305742  5eded76ac93a49cc75ce2d3d  5ede7fa4c93a49cc75ce1d39  2.961560
2305743  5eded76ac93a49cc75ce2d3d  5edec461c93a49cc75ce27dc  2.302565
2305744  5eded76ac93a49cc75ce2d3d  5eded4b6c93a49cc75ce2af0  5.290099

[2305745 rows x 3 columns]

In [5]:
df = my_func.regular(stacked)
df

,actor_id,interested,interact,y
0,5b2a71c33f0d6e001350d99c,5b32620373ebfe00137380d7,7.189535,0.399208
1,5b2a71c33f0d6e001350d99c,5b33bee573ebfe0013738c60,7.163628,0.393094
2,5b2a71c33f0d6e001350d99c,5b363ee62d84e000133e6b14,6.349840,0.201031
3,5b2a71c33f0d6e001350d99c,5b4cb7306031690013c1d546,4.357605,-0.269156
4,5b2a71c33f0d6e001350d99c,5b5295b8fb45b000019e259a,0.500000,-1.179589
...,...,...,...,...
2305740,5eded76ac93a49cc75ce2d3d,5ede5f69c93a49cc75ce0819,7.598990,0.495843
2305741,5eded76ac93a49cc75ce2d3d,5ede6daec93a49cc75ce1346,6.051700,0.130667
2305742,5eded76ac93a49cc75ce2d3d,5ede7fa4c93a49cc75ce1d39,2.961560,-0.598637
2305743,5eded76ac93a49cc75ce2d3d,5edec461c93a49cc75ce27dc,2.302565,-0.754166
2305744,5eded76ac93a49cc75ce2d3d,5eded4b6c93a49cc75ce2af0,5.290099,-0.049078

In [6]:
df, dict_users, dict_items = my_func.read_data(df)
df

         actor_id  interested  interact         y
0               0           0  7.189535  0.399208
1               0           1  7.163628  0.393094
2               0           2  6.349840  0.201031
3               0           3  4.357605 -0.269156
4               0           4  0.500000 -1.179589
...           ...         ...       ...       ...
2305740      2643        2631  7.598990  0.495843
2305741      2643        1851  6.051700  0.130667
2305742      2643         869  2.961560 -0.598637
2305743      2643        1482  2.302565 -0.754166
2305744      2643        2322  5.290099 -0.049078

[2305745 rows x 4 columns]

In [7]:
l2_model = my_func.model(df)

WARNING:tensorflow:From C:\Users\licor\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\licor\Documents\AI internship\MF\deep_learning_funcs.py:62: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

Model: "model"
________________________________________________________________________________________
Layer (type)                 Output Shape       Param #   Connected to
========================================================================================
actor_id (InputLayer)        [(None, 1)]        0
________________________________________________________________________________________
interested (InputLayer)      [(None, 1)]        0
________________________________________________________________________________________
actor_embedding (Embedding)  (None, 1, 8)       21152     actor_id[0][0]
________________________________________________________________________________________
interested_embedding (Embedd (None, 1, 8)       21152     interested[0][0]
________________________________________________________________________________________
dot (Dot)                    (None, 1, 1)       0         actor_embedding[0][0]
                                                          interested_embedding[0][0]
________________________________________________________________________________________
flatten (Flatten)            (None, 1)          0         dot[0][0]
========================================================================================
Total params: 42,304
Trainable params: 42,304
Non-trainable params: 0
________________________________________________________________________________________

In [8]:
my_func.train(l2_model, df)

Train on 2190457 samples, validate on 115288 samples
Epoch 1/10
2190457/2190457 - 1s - loss: 1.0004 - mean_absolute_error: 0.8295 - mean_squared_error: 1.0003 - val_loss: 0.9966 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 2/10
2190457/2190457 - 1s - loss: 0.9955 - mean_absolute_error: 0.8271 - mean_squared_error: 0.9951 - val_loss: 0.9971 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 3/10
2190457/2190457 - 1s - loss: 0.9879 - mean_absolute_error: 0.8231 - mean_squared_error: 0.9871 - val_loss: 0.9974 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 4/10
2190457/2190457 - 1s - loss: 0.9838 - mean_absolute_error: 0.8208 - mean_squared_error: 0.9828 - val_loss: 0.9976 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 5/10
2190457/2190457 - 1s - loss: 0.9818 - mean_absolute_error: 0.8196 - mean_squared_error: 0.9807 - val_loss: 0.9976 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 6/10
2190457/2190457 - 1s - loss: 0.9806 - mean_absolute_error: 0.8189 - mean_squared_error: 0.9794 - val_loss: 0.9977 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9965
Epoch 7/10
2190457/2190457 - 1s - loss: 0.9797 - mean_absolute_error: 0.8185 - mean_squared_error: 0.9785 - val_loss: 0.9977 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9966
Epoch 8/10
2190457/2190457 - 1s - loss: 0.9791 - mean_absolute_error: 0.8181 - mean_squared_error: 0.9779 - val_loss: 0.9977 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9966
Epoch 9/10
2190457/2190457 - 1s - loss: 0.9786 - mean_absolute_error: 0.8178 - mean_squared_error: 0.9774 - val_loss: 0.9977 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9966
Epoch 10/10
2190457/2190457 - 1s - loss: 0.9781 - mean_absolute_error: 0.8176 - mean_squared_error: 0.9769 - val_loss: 0.9977 - val_mean_absolute_error: 0.8280 - val_mean_squared_error: 0.9966

In [9]:
pred,  pred_true = my_func.get_recommendation(df, l2_model)

In [10]:
pred

         interested  predicted_rating  actor_id
0                 0          4.774072         0
1                 1          6.113428         0
2                 2          4.788321         0
3                 3          6.736936         0
4                 4          5.902018         0
...             ...               ...       ...
6990731        2639          5.498048      2643
6990732        2640          5.498048      2643
6990733        2641          5.498048      2643
6990734        2642          5.498048      2643
6990735        2643          5.498048      2643

[6990736 rows x 3 columns]

In [12]:
precision_mean, recall_mean = my_func.precision_recall_at_k(pred_true)

In [13]:
precision_mean

0.7752647503782166

In [14]:
recall_mean

0.014396957802556948